{% extends 'base.html.twig' %}

{% block title %}Hello ScrapController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <p>Ajouter une URL issus d'un chien sur la SCC pour récupérer ses données <br>
        Exemple : https://www.centrale-canine.fr/chien/mactep-du-bois-de-tresburry-6653521/expositions</p>
        <p>L'ensemble des éléments utilisables sont dans un dump()</p>
        {{ form_start(form) }}
            {{ form_row(form.url, {'attr': {'class': 'form-control'}}) }}
            <button class="mt-3 mb-3 btn btn-success">Récupérer les données du chien</button>
        {{ form_end(form) }}

        <hr>
        {% if dog %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom du chien</th>
                    <td>{{dog.ws.chien.nom}}</td>
                </tr>
                <tr>
                    <th>Affixe</th>
                    <td>{{dog.ws.chien.affixe}}</td>
                </tr>
                <tr>
                    <th>nomComplet</th>
                    <td>{{dog.ws.chien.nomComplet}}</td>
                </tr>
                <tr>
                    <th>sexeMale</th>
                    <td>{{dog.ws.chien.sexeMale}}</td>
                </tr>
                <tr>
                    <th>dateNaissance</th>
                    <td>{{dog.ws.chien.dateNaissance}}</td>
                </tr>
                <tr>
                    <th>tatouage</th>
                    <td>{{dog.ws.chien.tatouage}}</td>
                </tr>
                <tr>
                    <th>puce</th>
                    <td>{{dog.ws.chien.puce}}</td>
                </tr>
                <tr>
                    <th>couleur</th>
                    <td>{{dog.ws.chien.couleur}}</td>
                </tr>
                <tr>
                    <th>adn</th>
                    {% for adn in dog.ws.chien.adn %}
                        <td>{{adn.code}}</td>
                        <td>{{adn.libelle}}</td>

                    {% endfor %}
                </tr>
                <tr>
                    <th>numLof</th>
                    <td>{{dog.ws.chien.numLof}}</td>
                </tr>
                <tr>
                    <th>adn</th>
                    {% for santes in dog.ws.chien.santes %}
                        <td>{{santes.code}}</td>
                        <td>{{santes.libelle}}</td>
                        <td>{{santes.complement}}</td>
                        <td>{{santes.famille}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>numLof mère</th>
                    <td>{{dog.ws.chien.mere.nom}}</td>
                </tr>
                <tr>
                    <th>nomComplet mère</th>
                    <td>{{dog.ws.chien.mere.nomComplet}}</td>
                </tr>
                <tr>
                    <th>dateNaissance mère</th>
                    <td>{{dog.ws.chien.mere.dateNaissance}}</td>
                </tr>
                <tr>
                    <th>puce mère</th>
                    <td>{{dog.ws.chien.mere.puce}}</td>
                </tr>
                <tr>
                    <th>couleur mère</th>
                    <td>{{dog.ws.chien.mere.couleur}}</td>
                </tr>
                <tr>
                    <th>numLof mère</th>
                    <td>{{dog.ws.chien.mere.numLof}}</td>
                </tr>
                <tr>
                    <th>nom père</th>
                    <td>{{dog.ws.chien.pere.nom}}</td>
                </tr>
                <tr>
                    <th>nomComplet père</th>
                    <td>{{dog.ws.chien.mere.nomComplet}}</td>
                </tr>
                <tr>
                    <th>dateNaissance pere</th>
                    <td>{{dog.ws.chien.pere.dateNaissance}}</td>
                </tr>
                <tr>
                    <th>puce pere</th>
                    <td>{{dog.ws.chien.pere.puce}}</td>
                </tr>
                <tr>
                    <th>couleur pere</th>
                    <td>{{dog.ws.chien.pere.couleur}}</td>
                </tr>
                <tr>
                    <th>numLof pere</th>
                    <td>{{dog.ws.chien.pere.numLof}}</td>
                </tr>
            </tbody>
        </table>
          
            
        {% endif %}
        

    </div>
{% endblock %}
