<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "_parts/_navbar.html.twig" %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
